<!--
     AMP4ADS is a format for ads that is similar to the AMP format for web documents.
     This is a work in progress (https://github.com/ampproject/amphtml/blob/master/extensions/amp-a4a/amp-a4a-format.md).
     If you're looking for currently supported ad formats and providers for AMP pages,
     see https://www.ampproject.org/docs/reference/components/amp-ad instead.

     Below is the minimum valid AMP4ADS document. Just type away
     here and the AMP Validator will re-check your document on the fly.
-->
<!doctype html>
<html ⚡4ads>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <style amp4ads-boilerplate>body{visibility:hidden}</style>
  <script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>
  <style amp-custom>
    h1 {
      margin: 0 1rem;
    }
  </style>
</head>
<body>
  <h1>Hello, AMP for Ads world.</h1>
</body>
</html>
